aniso8601==2.0.1
cassandra-driver==3.13.0
click==6.7
-e git+https://github.com/sbisogni/minifilebox.git@ddd5df45d3115ab8e6fdd9fbbadad14505120348#egg=file_storage&subdirectory=file_storage
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pytz==2018.3
six==1.11.0
Werkzeug==0.14.1
