cassandra-driver==3.13.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
-e git+https://github.com/sbisogni/minifilebox.git@8fa40ab82bf310ac9fb12a225cc6c6fc8bfe9b25#egg=file_storage&subdirectory=file_storage
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
